
  body {
    zoom: 1;/*ajuste do zomm inicial da pagina*/
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }


  .start-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #c85959;
    color: white;
    cursor: pointer;
    border-color:red;
    border-radius: 30px;
    border-width: 10px;

  }
  
  .check-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #2eb15c;
    color: white;
    cursor: pointer;
    border-color: rgb(8, 247, 196);
    border-radius: 30px;
    border-width: 10px;
  }

  .fase1 {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #1307fa;
    color: white;
    cursor: pointer;
    border-color:rgb(6, 181, 250);
    border-radius: 30px;
    border-width: 10px;
  }


  
  h1 {
    margin: 0px;
    margin-top: 0px;
    /*margin-bottom: 20px;*/
  }
  
  .buttons-container {
    display: flex;
    gap: 250px;/*espaçamento entre os botões*/
    margin-top: 0px;
    
   
  }
  
  button {
    /*padding: 10px 20px;tamanho botao*/
    /*font-size: 25px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;*/
    cursor: pointer;
   
  }

  button:last-child {
    margin-right: 0; /* Remova a margem do último botão para evitar espaçamento extra */
  }
  
  button:hover {
    background-color: #fa060a;
  }
  
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;/*tamanho do quadro de cartas*/
    margin-top: 0px;
  }
  
  .card {
    width: 300px;
    height: 560px;
    background-image: url(./images1/verso.png); 
    background-size: cover; 
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }
  